.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.jumbotron {
  min-height: 1000px;
  background-color: #fff;
  overflow-x: auto;
}

.preloader {
  background-image: url("./../../img/preloader.gif");
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
}
