body {
  background:linear-gradient(#bbb, transparent 1px),
  linear-gradient(90deg,#bbb, transparent 1px);
  background-size: 10px 10px;
  background-position: center center;
}

.dropdown-toggle,
.dropdown-toggle:hover,
.table-link {
  text-decoration: none;
}
